.grid{
  display: grid;
  grid-template-columns: 10% 10% 1fr 20%;
  height: 100%;
  width: 100%;
  z-index: 1;
  position:fixed;
}
.opColumn{
  background-color: #EBF6F7;
  border-right: 1px solid #1B294B;
}

.draftColumn{
  background: #edf8f1;
  border-right: 1px solid #1B294B;
}

.sidebar{
  background: #f3ebf7;
  border-left: 1px solid #1B294B;
}
.opCanvas{
    background: #fbfbfb;
}