#header {
    background: #f5ecd4;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
#login{
    /* background-color: thistle; */
}

#signup{
    
}
#logout{
}  
#headerLogo {
    width: 18vh;
    height: 10vh;
}
