#root{
    background-color:whitesmoke;
    color:black;
    margin: 0;
}
body{
    margin: 0;
}
body.dark{
    background: black;
}

.nav-link{
    color:black;
    border: 1px solid white;
    padding: 1em;
}
