#root{
    background-color:whitesmoke;
    color:black;
    margin: 0;
}
body{
    margin: 0;
}

.nav-link{
    color:black;
    border: 1px solid white;
    padding: 1em;
}
/* header */
#header {
    background: #f5ecd4;
    height: 7em;
    display: flex;
    justify-content: space-between;
}

#headerLogo {
    width: 200px;
}
