* {box-sizing:border-box;}
#root{
    
    color:black;
    margin: 0;
}
body {
    margin:0 ;
  }

#site{
    height: 100vh;
  }
#site.dark{
    background: black;
}

.nav-link{
    color:black;
    border: 1px solid white;
    padding: 1em;
}
