.authDiv{
    height: fit-content;
    margin: auto;
    width: fit-content;
    border: 1px solid #909192;
    text-align: center;
    padding: 3vh;
    
    margin-top: 5vh;
    box-shadow: 4px 7px 7px 0px #090909;
}
.authForm{

}

.authForm > input{
margin: 1vh;
}

.splashBox{
    border: 1px solid #090909;
}
